version: "3.9"

services:
  vision_app:
    build:
      context: .
      dockerfile: Dockerfile.jetson
    container_name: vision-app
    runtime: nvidia
    network_mode: host
    privileged: true
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - HEADLESS=1
      - QT_QPA_PLATFORM=offscreen
      - CUDA_HOME=/usr/local/cuda
      - LD_LIBRARY_PATH=/usr/local/cuda/lib64
    volumes:
      - /var/log/vision_app:/var/log/vision_app
      - /tmp/.X11-unix:/tmp/.X11-unix # si alguna vez quieres UI
      # Monta wheels si quieres instalar torch en build/run:
      # - /home/nvidia/wheels:/wheels
    command: /bin/bash -lc ". /app/vision_app/.venv/bin/activate && exec python /app/main.py"


